# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º–∏ "–†–æ–∑—à–∏—Ä–µ–Ω—ñ –º–µ—Ç–æ–¥–∏ –æ–±—Ä–æ–±–∫–∏ –¥–∞–Ω–∏—Ö —É Pandas"

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv("../data/supermarket_sales.csv")

In [2]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

1. –í—ñ–¥—Å–æ—Ä—Ç—É–π—Ç–µ –¥–∞–Ω—ñ –∑–∞ —Å–ø–∞–¥–∞–Ω–Ω—è–º —Ü—ñ–Ω–∏ —Ç–æ–≤–∞—Ä–∞ ('Unit price') —ñ –≤–∏–≤–µ–¥—ñ—Ç—å 5 –ø–µ—Ä—à–∏—Ö —Ä—è–¥–æ—á–∫—ñ–≤ –Ω–∞ –µ–∫—Ä–∞–Ω.

In [3]:
df.sort_values(by = "Unit price", ascending = False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. –ó–Ω–∞–π–¥—ñ—Ç—å —ñ–Ω–≤–æ–π—Å (—Ä—è–¥–æ–∫ –≤ –¥–∞–Ω–∏—Ö) –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ Electronic accessories, –≤ —è–∫–æ–º—É –±—É–≤ –∫—É–ø–ª–µ–Ω–∏–π —Ç–æ–≤–∞—Ä –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ –Ω–∞–π–±—ñ–ª—å—à–æ—é —Ü—ñ–Ω–æ—é. –í–∏–≤–µ–¥—ñ—Ç—å —Ü–µ–π —Ä—è–¥–æ–∫ –¥–∞–Ω–∏—Ö –Ω–∞ –µ–∫—Ä–∞–Ω.

In [4]:
df.sort_values(by = ["Unit price", "Quantity"], ascending = [False, False])[:1]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É –≤ –¥–∞–Ω–∏—Ö `Rating Category`, —è–∫–∞ –≤–∏–∑–Ω–∞—á–∞—î –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ä–µ–π—Ç–∏–Ω–≥—É: –≤–∏—Å–æ–∫–∏–π, —Å–µ—Ä–µ–¥–Ω—ñ–π —á–∏ –Ω–∏–∑—å–∫–∏–π –∑–∞ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –ø—Ä–∞–≤–∏–ª–æ–º:
- —è–∫—â–æ —Ä–µ–π—Ç–∏–Ω–≥ –≤–∏—â–∏–π –∞–±–æ —Ä—ñ–≤–Ω–∏–π 8 - —Ç–æ –≤—ñ–Ω –≤–∏—Å–æ–∫–∏–π (`High`)
- —è–∫—â–æ —Ä–µ–π—Ç–∏–Ω–≥ –≤—ñ–¥ 6 –¥–æ 8 –Ω–µ –≤–∫–ª—é—á–∞—é—á–∏ - —Ç–æ –≤—ñ–Ω —Å–µ—Ä–µ–¥–Ω—ñ–π (`Medium`)
- —ñ–Ω–∞–∫—à–µ - –Ω–∏–∑—å–∫–∏–π (`Low`).

In [5]:
def rating_category(rate):
    if rate >= 8:
        return "High"
    elif 6 <= rate < 8:
        return "Medium"
    else:
        return "Low"

df["Rating Category"] = df.Rating.apply(rating_category)
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,High
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,Low

3.2. –í–∏–≤–µ–¥—ñ—Ç—å, —è–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –¥–∞–Ω–∏—Ö —Å—Ç–∞–Ω–æ–≤–∏—Ç—å –∫–æ–∂–Ω–µ –∑—ñ –∑–Ω–∞—á–µ–Ω—å –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ä–µ–π—Ç–∏–Ω–≥—É.

In [6]:
df["Rating Category"].value_counts(normalize=True)

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. –ó–∞–ø—É—Å—Ç—ñ—Ç—å –∫–æ–¥ –Ω–∏–∂—á–µ –∞–±–∏ —Å—Ç–≤–æ—Ä–∏—Ç–∏ –∑–º—ñ–Ω–Ω—É `time`. –¶—è –∑–º—ñ–Ω–Ω–∞ –º—ñ—Å—Ç–∏—Ç—å —á–∞—Å –≤ —Ñ–æ—Ä–º–∞—Ç—ñ "–≥–æ–¥–∏–Ω–∞:—Ö–≤–∏–ª–∏–Ω–∞". –ù–∞–ø–∏—à—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é `get_hour`, —è–∫–∞ –±—É–¥–µ –∑—ñ –∑–º—ñ–Ω–Ω–æ—ó —Ñ–æ—Ä–º–∞—Ç—É —è–∫ `time` –¥—ñ—Å—Ç–∞—Ç–∏ –ª–∏—à–µ –≥–æ–¥–∏–Ω–∏ —ñ –∫–æ–Ω–≤–µ—Ä—Ç—É–≤–∞—Ç–∏ —ó—Ö —É —Ç–∏–ø `int`.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –Ω–∞–ø–∏—Å–∞–Ω—É —Ñ—É–Ω–∫—Ü—ñ—é –Ω–∞ –∑–º—ñ–Ω–Ω—ñ–π `time` —Ç–∞ –ø–µ—Ä–µ–≤—ñ—Ä—Ç–µ –ø—Ä–∞–≤–∏–ª—å–Ω—ñ—Å—Ç—å —Ä–æ–±–æ—Ç–∏ —Ñ—É–Ω–∫—Ü—ñ—ó.

In [7]:
time = '11:28'

In [8]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
Rating Category             object
dtype: object

In [9]:
type(df.iloc[3].Time)

str

In [10]:
def get_hour(time):
    hour = int(time[:2])
    return hour

get_hour(time)

11

4.2. –ó –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó `get_hour` —ñ –º–µ—Ç–æ–¥–∞ `DataFrame.apply()` —Å—Ç–≤–æ—Ä—ñ—Ç—å –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É `Hour` –≤ –Ω–∞—à–æ–º—É –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö, —è–∫–∞ –±—É–¥–µ –º—ñ—Å—Ç–∏—Ç–∏ –≥–æ–¥–∏–Ω–∏ –∑–¥—ñ–π—Å–Ω–µ–Ω–Ω—è –ø–æ–∫—É–ø–∫–∏, –æ–±—á–∏—Å–ª–µ–Ω—ñ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —á–∞—Å—É –∑–¥—ñ–π—Å–Ω–µ–Ω–Ω—è –ø–æ–∫—É–ø–∫–∏ `Time`.

In [11]:
df["Hour"] = df.Time.apply(get_hour)

4.3. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∑–Ω–∞—á–µ–Ω—å –∑–∞ –∫–æ–∂–Ω–æ—é –≥–æ–¥–∏–Ω–æ—é –ø–æ–∫—É–ø–∫–∏ —ñ –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å "–û —è–∫–∏—Ö –≥–æ–¥–∏–Ω–∞—Ö –Ω–∞–π–±—ñ–ª—å—à–µ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –ø–æ–∫—É–ø–æ–∫ –ø–æ–∫—É–ø—Ü—ñ —ñ —á–æ–º—É –Ω–∞ –í–∞—à –ø–æ–≥–ª—è–¥ —Å–∞–º–µ –æ —Ü–∏—Ö –≥–æ–¥–∏–Ω–∞—Ö? –ß–∏ —Ü–µ —Å–ª–æ–≥—ñ—á–Ω–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ —Å–∞–º–µ –≤ —Ü—ñ –≥–æ–¥–∏–Ω–∏?".

In [12]:
df.Hour.value_counts()

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

–ù–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å –æ 19, 13, 15 —ñ 10 –≥–æ–¥–∏–Ω–∞—Ö.
19 - —Å—Ö–æ–∂–µ –Ω–∞ —á–∞—Å –ø—ñ—Å–ª—è —Ä–æ–±–æ—Ç–∏, –∞ 13 - –æ–±—ñ–¥–Ω—è –ø–µ—Ä–µ—Ä–≤–∞, —Ç–æ–∂ –Ω–∞—á–µ –≤—Å–µ –ª–æ–≥—ñ—á–Ω–æ.
15 - –≤–∞–∂—á–µ, —Ç–µ–∂ –æ–±—ñ–¥–Ω—è –ø–µ—Ä–µ—Ä–≤–∞ –∞–ª–µ –¥–ª—è "—Å–æ–≤"?))) –ª–æ–≥—ñ–∫–∞ —à–∫—É—Ç–∏–ª—å–≥–∞—î.
–∞ 10 - –º–µ–Ω–µ –≥–µ—Ç—å –∑–¥–∏–≤—É–≤–∞–ª–æ, –ø–µ—Ä–µ–¥ —Ä–æ–±–æ—Ç–æ—é? (—Ü–µ –±–æ–∂–µ–≤—ñ–ª–ª—èüòÖ), –Ω–µ –ø—Ä–∞—Ü—é—î—à —á–∏ –≤–∏—Ö—ñ–¥–Ω–∏–π - —Ç–∞–∫ –≤–∏—Å–ø–∏—Å—å)). –ê–±—Å–æ–ª—é—Ç–Ω–æ –¥–∏–≤–Ω–∏–π —á–∞—Å. –¢—Ä–µ–±–∞ –¥–∏–≤–∏—Ç–∏—Å—å —â–µ –¥–Ω—ñ —Ç–∏–∂–Ω—è —Ä–∞–∑–æ–º —ñ–∑ —á–∞—Å–æ–º.

5. –í–∏–≤–µ–¥—ñ—Ç—å —Å–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è —á–µ–∫—É (`Total`) –¥–ª—è –ø–æ–∫—É–ø–æ–∫ –≤ –º—ñ—Å—Ç–∞—Ö, –Ω–∞—è–≤–Ω–∏—Ö –≤ –¥–∞–Ω–∏—Ö, –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó `groupby`.

In [13]:
df.groupby(by="City").Total.mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫, —Å–µ—Ä–µ–¥–Ω—î, –º—ñ–Ω—ñ–º–∞–ª—å–Ω–µ —Ç–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ —á–µ–∫—É (Total) –≤ –º—ñ—Å—Ç–∞—Ö, –Ω–∞—è–≤–Ω–∏—Ö –≤ –¥–∞–Ω–∏—Ö, –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ—ó groupby.
–ó—Ä–æ–±—ñ—Ç—å –≤–∏—Å–Ω–æ–≤–∫–∏ –∑ —Ü–∏—Ö –ø–æ–∫–∞–∑–Ω–∏–∫—ñ–≤ —Ç–∞ –¥–∞–π—Ç–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤.

In [25]:
df.groupby(by="City").Total.agg(["count", "mean", "min", "max"]).round(2)

           count    mean    min      max
City
Mandalay     332  319.87  18.64  1022.49
Naypyitaw    328  337.10  10.68  1042.65
Yangon       340  312.35  12.69  1039.29

–¶—ñ–∫–∞–≤–æ, —â–æ –ø—Ä–∏ –Ω–∞–π–º–µ–Ω—à—ñ–π –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —ñ –Ω–∞–π–º–µ–Ω—à–æ–≥–æ –º—ñ–Ω—ñ–º–∞–ª—å–Ω–æ–≥–æ —á–µ–∫–∞ –º–∞–≥–∞–∑–∏–Ω —É Naypyitaw —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º.
–í–∞–∂–∫–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–∫–∏ –∑ —Ü–∏—Ö –ø–æ–∫–∞–∑–Ω–∏–∫—ñ–≤, –∞–¥–∂–µ —è –Ω–µ –∑–Ω–∞—é —ó—Ö –ø—Ä–∏—á–∏–Ω. –¢–æ–º—É —Ç—Ä–µ–±–∞ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏, —â–æ —Ç–∞–∫–æ–≥–æ –æ—Å–æ–±–ª–∏–≤–æ–≥–æ –≤ —Ç–æ–º—É –º–∞–≥–∞–∑–∏–Ω—ñ —ñ–∑ Naypyitaw, –º–æ–∂–ª–∏–≤–æ, —Ç–æ–¥—ñ –±—É–¥—É—Ç—å –æ—á–µ–≤–∏–¥–Ω–∏–º–∏ —è–∫—ñ—Å—å —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó.

7. –ú–∏ –≤–Ω–µ—Å–ª–∏ –¥–µ—è–∫—ñ –∑–º—ñ–Ω–∏ –≤ –Ω–∞—à –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö, —Ç–æ–∂, –¥–∞–≤–∞–π—Ç–µ –∑–∞–ø–∏—à–µ–º–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç —É —Ñ–∞–π–ª. –ó–∞–ø–∏—à—ñ—Ç—å –æ–Ω–æ–≤–ª–µ–Ω—É –≤–µ—Ä—Å—ñ—é –¥–∞–Ω–∏—Ö —É —Ñ–∞–π–ª `supermarket_sales_enriched.csv`. –ó–≤–µ—Ä–Ω—ñ—Ç—å —É–≤–∞–≥—É, –∞–±–∏ –Ω–µ –∑–∞–ø–∏—Å–∞—Ç–∏ –Ω—ñ—á–æ–≥–æ –∑–∞–π–≤–æ–≥–æ, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —ñ–Ω–¥–µ–∫—Å–∏ —Ä—è–¥–∫—ñ–≤ –Ω–∞–º –≤ —Ñ–∞–π–ª—ñ –Ω–µ –ø–æ—Ç—Ä—ñ–±–Ω—ñ, –æ—Å–∫—ñ–ª—å–∫–∏ –≤–æ–Ω–∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ñ.

In [24]:
df.to_csv('../data/supermarket_sales_enriched.csv', index=False)