#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../Data/supermarket_sales.csv')

In [111]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating', 'Day_of_week'],
      dtype='object')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [62]:
branches = df.groupby('Branch')
branches_income = branches[['gross income', 'City']].agg({'gross income':'sum', 'City': 'first'})
branches_income

        gross income       City
Branch
A          5057.1605     Yangon
B          5057.0320   Mandalay
C          5265.1765  Naypyitaw

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

–ó–∞ –ø–æ–ø–µ—Ä–µ–¥–Ω—ñ–º–∏ —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫–∞–º–∏ –∑–Ω–∞—î–º–æ, —â–æ –≤ Naypyitaw –∂–∏–≤–µ –±—ñ–ª—å—à –ø–ª–∞—Ç–æ—Å–ø—Ä–æ–º–æ–∂–Ω–µ –Ω–∞—Å–µ–ª–µ–Ω–Ω—è. –õ—é–¥–∏ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ –∑ –¥–æ—Ä–æ–≥–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç—É, —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤–∏—â–∏–π. 
–ü—Ä–æ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω:
—Ü—ñ–∫–∞–≤–æ, –∞–ª–µ —è–∫ —Ä–æ–∑—Ä–∞—Ö–æ–≤—É—é—Ç—å –¥–æ—Ü—ñ–ª—å–Ω—ñ—Å—Ç—å —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É? –º–æ–∂–µ —Ç—ñ —Å–∞–º—ñ –∫–ª—ñ—î–Ω—Ç–∏ –ø—Ä–æ—Å—Ç–æ —Ä–æ–∑–¥—ñ–ª—è—Ç—å—Å—è –º—ñ–∂ –¥–≤–æ–º–∞? —á–∏ —Ç–∞–∫ –Ω–µ –±—É–≤–∞—î?

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [120]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='cogs', aggfunc='count')
invoices_by_category
# –æ–¥—Ä–∞–∑—É –∑—ñ–∑–Ω–∞—é—Å—å, —â–æ –æ—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤–∏–π—à–æ–≤ –≤ –º–µ–Ω–µ –Ω–µ –ø—Ä—è–º, —â–æ–± —Å–≤—ñ–¥–æ–º–æ. –°–ø–æ—á–∞—Ç–∫—É —è —Ö–æ—Ç—ñ–ª–∞ —Ä–∞—Ö—É–≤–∞—Ç–∏ —Å–∫—ñ–ª—å–∫–∏ –ê, –í —ñ –°
# —ñ —Ç–∞–∫–∏–º —á–∏–Ω–æ–º –ø–æ—Ä–∞—Ö—É–≤–∞—Ç–∏ –ø–æ–∫—É–ø–∫–∏. –¢–∞ count –Ω–µ —Ö–æ—Ç—ñ–≤ —Ä–∞—Ö—É–≤–∞—Ç–∏ str, —è —Ü–µ –∑—Ä–æ–∑—É–º—ñ–ª–∞ —ñ —â–æ–± –ø–æ–¥–∏–≤–∏—Ç–∏—Å—å –Ω–∞ —è–∫–æ–º—É —è —Å–≤—ñ—Ç—ñ
# –ø–æ—Å—Ç–∞–≤–∏–ª–∞ —Ä–∞–Ω–¥–æ–º–Ω—É —Ü–∏—Ñ—Ä–æ–≤—É –∫–æ–ª–æ–Ω–∫—É, —ñ –∑ º—è—Å—É–≤–∞–ª–∞,—â–æ —Ç–∞–∫ —Ç–µ–∂ –º–æ–∂–Ω–∞. –ê–ª–µ –ø—Ä—è–º –¥–æ –∫—ñ–Ω—Ü—è —è –Ω–µ —Ä–æ–∑—ñ–±—Ä–∞–ª–∞—Å—å —á–æ–º—É.

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [87]:
max_val = invoices_by_category['Electronic accessories'].max()
invoices_by_category[invoices_by_category['Electronic accessories'] == max_val].index

Index(['A'], dtype='object', name='Branch')

–£ —Ñ—ñ–ª—ñ–∞–ª—ñ –ê.

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

4. –ß–∏ –≤–ø–ª–∏–≤–∞—î –¥–µ–Ω—å —Ç–∏–∂–Ω—è –Ω–∞ –∫—ñ–ª—å—Å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫?

In [88]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [89]:
df['Day_of_week'] = df['Date'].dt.day_name()

In [97]:
days_and_purchases = df.groupby('Day_of_week').size().reset_index(name='Num_of_purch')
days_and_purchases.sort_values(by='Num_of_purch', ascending=False)

  Day_of_week  Num_of_purch
2    Saturday           164
5     Tuesday           158
6   Wednesday           143
0      Friday           139
4    Thursday           138
3      Sunday           133
1      Monday           125

–†–µ–∑—É–ª—å—Ç–∞—Ç–∏:
- —Å—É–±–æ—Ç–∞ - –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π –¥–µ–Ω—å(—â–æ –Ω–µ —Å—É–ø–µ—Ä—á–∏—Ç—å –ª–æ–≥—ñ—Ü—ñ), —Ç–æ–∂ –¥–æ—Ü—ñ–ª—å–Ω–æ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ —è–∫—ñ—Å—å —Ä–æ–∑–ø—Ä–æ–¥–∞–∂—ñ —á–∏ –∞–∫—Ü—ñ—ó —Å–∞–º–µ –≤ —Ü–∏–π –≤–∏—Ö—ñ–¥–Ω–∏–π —ñ –Ω–∞ –≤—Å—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, –±–æ –ª—é–¥–∏ –ø—Ä–∏—Ö–æ–¥—è—Ç—å —Å—ñ–º º—è–º–∏ (–¥—Ä—É–∑—ñ —Ç–æ—â–æ).
  
- —Ç—Ä–æ—Ö–∏ –¥–∏–≤–Ω–æ –∑–∞ –ø º—è—Ç–Ω–∏—Ü—é.. –∞–ª–µ –º–æ–∂–µ –≤—Å—ñ –ø–æ –±–∞—Ä–∞—Ö —ñ–∑ –∫–æ–ª–µ–≥–∞–º–∏-–¥—Ä—É–∑—è–º–∏ —Ç–æ–º—É —ñ –Ω–µ –¥–∏–≤–Ω–æ –∑–æ–≤—Å—ñ–º? –≤ –ø—è—Ç–Ω–∏—Ü—é, —â–æ–± –ø—Ä–∏–≤–∞–±–∏—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤, –º–∞—î –±—É—Ç–∏ —è–∫–∞—Å—å —Ä–æ–∑–≤–∞–≥–∞, –∞–±–æ –Ω–∞–ø–æ—ó –≤ –ø–æ–¥–∞—Ä—É–Ω–æ–∫, –¥–ª—è —Ç–∏—Ö, –∫—Ç–æ –∫—É–ø–ª—è—î –ø—ñ—Ü—É —Ç–∞ –π–¥–µ –¥–æ–¥–æ–º—É —á–∏ –≤ –≥–æ—Å—Ç—ñ.

- –ø–æ–Ω–µ–¥—ñ–ª–æ–∫ - –¥–µ–Ω—å –≤–∞–∂–∫–∏–π. –ú–æ–∂–Ω–∞ –ø—Ä–æ—Å—Ç–æ –≤—ñ–¥—á–µ–ø–∏—Ç–∏—Å—è –≤—ñ–¥ –ª—é–¥–µ–π —ñ –Ω–µ –∑–∞–º–∞–Ω—é–≤–∞—Ç–∏ —ó—Ö —â–æ—Å—å –∫—É–ø–∏—Ç–∏. –ê –º–æ–∂–Ω–∞, —Ç–∏–ø—É "–≤—Å—ñ –∫–æ–∑–ª–∏, –∞ —Ç–∏ –±—É–±–æ—á–∫–∞. —Ö–æ–¥–∏ —Å—é–¥–∏ –æ–±—ñ–π–º—É. –¥–∏–≤–∏—Å—å, –æ—Å—å —Ç–æ–±—ñ –≥–æ—Ä–Ω—è—Ç–∫–æ –∫–∞–≤–∏ —ñ —Å–º–∞–∫–æ–ª–∏–∫. –ª–µ–≥—à–µ? –∞ —Ç–µ–ø–µ—Ä –¥–∏–≤–∏, —à–æ –≤ –Ω–∞—Å —Ç—É—Ç —î:....."

5. –•—Ç–æ –∑–¥—ñ–π—Å–Ω—é—î –ø–æ–∫—É–ø–æ–∫ –±—ñ–ª—å—à–µ: –ª–æ—è–ª—å–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ (–∑ –∫–ª—ñ—î–Ω—Ç—Å—å–∫–æ—é –∫–∞—Ä—Ç–∫–æ—é) —á–∏ —ñ–Ω—à—ñ? –ß–∏ —î —Ä—ñ–∑–Ω–∏—Ü—è –ø–æ –º—ñ—Å—Ç–∞—Ö?

In [98]:
city_grouped = df.groupby('City')

In [102]:
city_grouped['Customer type'].value_counts(normalize=True)

City       Customer type
Mandalay   Normal           0.503012
           Member           0.496988
Naypyitaw  Member           0.515244
           Normal           0.484756
Yangon     Normal           0.508824
           Member           0.491176
Name: proportion, dtype: float64

–†–µ–∑—É–ª—å—Ç–∞—Ç:
–ö–ª—ñ—î–Ω—Ç–∞–º–∏ –º–∞–≥–∞–∑–∏–Ω—ñ–≤ –ø—Ä–∏–±–ª–∏–∑–Ω–æ –ø–æ—Ä—ñ–≤–Ω—É —î –ª–æ—è–ª—å–Ω—ñ —ñ –∑–≤–∏—á–∞–π–Ω—ñ.

- –º–æ–∂–ª–∏–≤–æ, –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –Ω–µ —î —Ü—ñ–∫–∞–≤–æ—é, —Ç–æ–º—É –ª—é–¥–∏ –Ω–µ –±–∞—á–∞—Ç—å —Å–µ–Ω—Å—É –±—Ä–∞—Ç–∏ —á–µ—Ä–≥–æ–≤—É –∫–∞—Ä—Ç–∫—É, –Ω–∞–∫–æ–ø–∏—á—É–≤–∞—Ç–∏ –±–æ–Ω—É—Å–∏ —Ç–æ—â–æ. –¶–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–Ω–∞ –¥–æ—Å–ª—ñ–¥–∂—É–≤–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ –¥–∞–Ω–∏—Ö –ø—Ä–æ –ª–æ—è–ª—å–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤, –¥–∏–≤–∏—Ç–∏—Å—å —è–∫ —á–∞—Å—Ç–æ –≤–æ–Ω–∏ –∫—É–ø—É—Ç—å –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω—ñ –ø–æ–∑–∏—Ü—ñ—ó
- –∑—Ä–æ–±–∏—Ç–∏ –∫–æ—Ä–æ—Ç–∫–µ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è –Ω–µ —á–ª–µ–Ω—ñ–≤ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –±–µ–∑–ø–æ—Å–µ—Ä–µ–¥–Ω—å–æ –≤ –º–∞–≥–∞–∑–∏–Ω—ñ —ñ —Å–ø–∏—Ç–∞—Ç–∏ —á–æ–º—É, –Ω–∞–≤—Ä—è–¥ –ø–æ–ª–æ–≤–∏–Ω–∞ –ª—é–¥–µ–π —Ä–∞–∑–æ–≤—ñ –∫–ª—ñ—î–Ω—Ç–∏ –ø—Ä–æ—ó–∑–¥–æ–º.
- —á–∏ —î –ø—Ä–æ—Ü–µ—Å —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—ó –ª–µ–≥–∫–∏–º? (–æ—Å–æ–±–∏—Å—Ç–∏–π –ø—Ä–∏–∫–ª–∞–¥: —è –≤—ñ–¥–∫–ª–∞–¥–∞–ª–∞ –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –∫–∞—Ä—Ç–∫–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞ –ø—ñ–≤—Ç–æ—Ä–∞ —Ä–æ–∫–∏ —Ç–æ–º—É, —â–æ –¥–æ —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—ó –±—É–ª–æ 8-9 –∫—Ä–æ–∫—ñ–≤, —è–∫—ñ –≤—Å—ñ –Ω–∞–ø–∏—Å–∞–Ω—ñ –Ω—ñ–¥–µ—Ä–ª–∞–Ω–¥—Å—å–∫–æ—é, –∞ –≤–∏–±–æ—Ä—É –º–æ–≤–∏ –≤ –∑–∞—Å—Ç–æ—Å—É–Ω–∫—É –Ω–µ–º–∞—î)
- –¥—É–º–∞—é, —Ü–µ–π –ø–æ–∫–∞–∑–Ω–∏–∫ –≤–∞—Ä—Ç–∏–π —É–≤–∞–≥–∏ —ñ –≤–∞—Ä—Ç–∏–π —Ç–æ–≥–æ, —â–æ–± –∑–±—ñ–ª—å—à—É–≤–∞—Ç–∏ –≤—ñ–¥—Å–æ—Ç–æ–∫ –ª–æ—è–ª—å–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–æ–º—É, —â–æ –≤–∏–≤—á–µ–Ω–Ω—è –ø–æ–≤–µ–¥—ñ–Ω–∫–∏ –∫–ª—ñ—î–Ω—Ç–∞ –¥–∞—î –±—ñ–ª—å—à–µ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó, –≤ —è–∫–æ–º—É –Ω–∞–ø—Ä—è–º–∫—É —Ä–æ–∑–≤–∏–≤–∞—Ç–∏—Å—å, —è–∫—ñ –Ω–æ–≤–∏ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∑–∞—Ü—ñ–∫–∞–≤–ª—è—Ç—å —Ç–æ—â–æ.

6. –ß–∏ –≤–ø–ª–∏–≤–∞—î –≥–µ–Ω–¥–µ—Ä–Ω–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —ñ –¥–æ—Ö—ñ–¥?

In [107]:
q = pd.pivot_table(df, index='Gender', columns='Product line', values='Total', aggfunc='sum')

In [108]:
q.round(2)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

In [118]:
q = (df.Gender == "Male") & (df['Product line'] == "Health and beauty")
df[q].Total.sum()

# —Ü–µ —è —Å–µ–±–µ –ø–µ—Ä–µ–≤—ñ—Ä–∏–ª–∞

np.float64(30632.7525)

–†–µ–∑—É–ª—å—Ç–∞—Ç:
—Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è –ø–æ –¥–æ—Ö–æ–¥—É –≤–∏—è–≤–∏–ª–æ—Å—å –Ω–µ–æ—á—ñ–∫—É–≤–∞–Ω–∏–º —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Health and beauty. –Ø –¥–∏–≤—É—é—Å—è —ñ —á–µ—Å–Ω–æ –Ω–µ —Ä–æ–∑—É–º—ñ—é —è–∫ —Ç–∞–∫?!

–í–∏—Å–Ω–æ–≤–∫–∏:
- –º–æ–∂–ª–∏–≤–æ, –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç Health and beauty –Ω–µ —Ä–µ–ª–µ–≤–∞–Ω—Ç–Ω–∏–π –ø–æ—Ç—Ä–µ–±–∞–º –∫–ª—ñ—î–Ω—Ç–æ–∫. –ê —Ç–µ, —â–æ —î, –∑–¥–µ–±—ñ–ª—å—à–æ–≥–æ –±–µ—Ä—É—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏, –±–æ –º–µ–Ω—à –ø—Ä–∏—Å–∫—ñ–ø–ª–∏–≤—ñ —É –≤–∏–±–æ—Ä—ñ.
–¶—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –∑–∞–∫—Ä–∏–≤–∞—î—Ç—å—Å—è –∫–ª—ñ—î–Ω—Ç–∫–∞–º–∏ –≤ —ñ–Ω—à–æ–º—É –º–∞–≥–∞–∑–∏–Ω—ñ, –º–æ–∂–ª–∏–≤–æ —Å–ø–µ—Ü—ñ–∞–ª—ñ–∑–æ–≤–∞–Ω–æ–º—É. –ê–∫—Ç—É–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ–π. –ü—Ä–æ–≤–µ—Å—Ç–∏ –ø—Ä–∏—Ü—ñ–ª—å–Ω—É —Ä–µ–∫–ª–∞–º–Ω—É –∫–∞–º–ø–∞–Ω—ñ—é —ñ –∞–∫—Ü—ñ—ó, —â–æ–± —Ä–æ–∑–∫–∞–∑–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç–∫–∞–º –ø—Ä–æ –Ω–æ–≤–∏–Ω–∫–∏, —ñ —è–∫ –∂–µ –∑—Ä—É—á–Ω–æ, —â–æ –Ω—ñ–∫—É–¥–µ –±—ñ–ª—å—à–µ –π—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞.
- –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Food and beverages –Ω–µ –∑–¥–∏–≤—É–≤–∞–ª–∞. –ú–æ–∂–Ω–∞ –ø—Ä–æ–±—É–≤–∞—Ç–∏ –∑–∞–æ—Ö–æ—á—É–≤–∞—Ç–∏ –¥–æ –ø–æ–∫—É–ø–æ–∫ —á–æ–ª–æ–≤—ñ–∫—ñ–≤, –∞–ª–µ —á–∏ —Ç–µ–±–∞?üòè